<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notitas</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <nav>
            <div class="brand-wrapper">
                <div class="logo">
                    <img src="images/logo.svg" alt="">
                </div>
            </div>        
        </nav>
    </header>

    <main>
        <section class="new">
            <form action="/" method="POST">
                <input type="text" name="title" placeholder="Título">
                <textarea name="text" id="" cols="30" placeholder="Añade una nota..."></textarea>
                <button type="submit">Crear</button>
            </form>
        </section>
        <section class="list">
            <% for (let i= 0; i < notas.length; i++){ %>
                <div class="note">
                    <h2><%= notas[i].titulo %> </h2>
                    <p> <%= notas[i].texto %> </p>
                    <div class="edit">
                        <a href="/detail/<%= notas[i].id %> "><i class="far fa-edit"></i></a>
                        <form action="/delete/<%= notas[i].id %>/?_method=DELETE" method="POST">
                            <button type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
                <% }  %> 
        </section>
    </main>

</body>
</html>